<p>Hello,</p>

<p>A new comment has been posted on <%= @comment.site.name %>. Please <%= link_to "log in", admin_comments_url(@comment.site, :host => @comment.site.host) %> and approve or delete it.</p>

<p>
Page: <%= @comment.commentable.title %><br />
Name: <%= @comment.author_name %><br />
Email: <%= @comment.author_email %><br />
Homepage: <%= @comment.author_homepage %><br />
</p>

<p><%= @comment.body %></p>
